/**/

body{
  background-color: dimgray;
}

.container{
  width: 99%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  background: linear-gradient(to bottom, #FFC1C1 0%,  #87CEFF 100%);
  border-radius: 7px 7px 7px 7px;
}

@font-face{
  font-family: "balakhani";
  src: url("../fonts/balakhani.ttf") format("truetype");
}

h2{
  text-align: center;
  font-family: balakhani;
  font-style: bold;
  font-size: 35px;
  color: black;
}

#imgCamera{
  width: 98%;
}

#imgFoto{
  width: 98%;
  border-width: 4px;
  border-style: inset;
  border-color: white;
}

.ft{
  margin-top: 30px;
  margin-bottom: 20px;
}

.rfoto{
  text-align: center;
}

.ll{
  max-width: 100%;
}

label{
  font-family: balakhani;
  font-size: 20px;ss
  color: white;
}

.botao{
  font-family: balakhani;
  font-size: 20px;
  align-content: middle;
}

#map{
  height: 500px;
  text-align: center;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}

